-
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supreme Açaí</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <nav>
        <div class="nav-nave">
            <div>
                <img class="logo" src="../img-acai/Supreme.png" alt="">

            </div>

            <div>
                <a href="../index.html">Inicio</a>
                <a href="acai.html">Catálogo Açaí</a>
                <a href="cupuacu.html">Catálogo de Cupuaçu</a>
                <a href="sobremim.html">Sobre Mim</a>
                
            </div>

        </div>

    </nav>
    </nav>
    <header>
        <h1>Seja bem-vindo à Supreme Açaí!</h1>
    </header>

    <main>
        <section class="section-1">
            <h2>Galeria de Produtos</h2>
            <div class="container">
                <div class="imagens">
                    <div>
                        <img src="../img-acai/açai-removebg-preview.png" alt="Açaí Tijela" class="foto-1">
                        <p>Tijela de Açaí Bowl com frutas</p>
                        <p2>R$ 15,00</p2>
                    </div>
                    <div>
                        <img src="../img-acai/11402422-m-removebg-preview.png" alt="Copo de Açaí" class="foto-2">
                        <p>Copo de Açaí com Frutas</p>
                        <p2>R$ 10,00</p2>
                    </div>
                    <div>
                        <img src="../img-acai/açai3-removebg-preview.png" class="foto-3">
                        <p>Açaí com Jabuticaba</p>
                        <p2>R$ 25,00</p2>
                    </div>
                </div>
            </div>
        </section>
        <section></section>
    </main>

    <section class="section-2">
        <h2>ACEITAMOS TODOS OS CARTÕES</h2>
        <p>Deliciosos açaís e cupuaçus entregue!</p>
    </section>

    <section class="section-3">
        <h2>Ofertas Especiais</h2>
        
    </section>

    <footer>

        <nav>
            <p class="rodape">&copy; Aloísio Viana 2024 Todos os Direitos - Supreme Açaí</p>
            <p>Aproveite nossos descontos e promoções, acessando nosso Whatsapp (61) 9999-9989 !</p>
        </nav>

    </footer>
</body>

</html>