-
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supreme Açaí</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/cupuacu.css">
</head>

<body>

    <nav>
        <div class="nav-nave">
            <div>
                <img class="logo" src="../img-acai/Supreme.png" alt="">

            </div>

            <div>
                <a href="../index.html">Inicio</a>
                <a href="acai.html">Catálogo Açaí</a>
                <a href="cupuacu.html">Catálogo de Cupuaçu</a>
                <a href="sobremim.html">Sobre Mim</a>
                
            </div>

        </div>

        </nav>
    <header>
        <main>
            <section class="section-1">
                <h2>CUPUAÇU GOURMET</h2>
                <div class="container">
                    <div class="imagens">
                        <div>
                            <img src="../img-cupuacu/1.jpg" alt="Açaí Tijela" class="foto-1">
                            <p>Creme de Cupuaçu</p>
                            <p2>R$ 30,00</p2>
                        </div>
                        <div>
                            <img src="../img-cupuacu/2.jpg" alt="Copo de Açaí" class="foto-2">
                            <p>Cupuaçu com Banana batida </p>
                            <p2>R$ 18,00</p2>
                        </div>
                        <div>
                            <img src="../img-cupuacu/3.jpg" class="foto-3">
                            <p>Docê de Cupuaçu</p>
                            <p2>R$ 25,00</p2>
                        </div>
                    </div>
                </div>
            </section>
            </main>
    </header>

        <section class="section-2">
        <h2>O cupuaçu é mais comumente propagado a partir de sementes, mas também são usados enxertos e estacas enraizadas.
            
            As árvores do cupuaçu são frequentemente incorporadas em sistemas agroflorestais em toda a Amazônia devido à sua alta tolerância a solos inférteis, que predominam na região amazônica.</h2>
        <img src="img-acai/OIP.jpg" alt="">
        <p>Os sabores do cupuaçu derivam de seus fitoquímicos, como taninos, glicosídeos, teograndinas, catequinas, quercetina, kaempferol e isoscutelareína.Também contém teacrina, cafeína, teobromina e teofilina, encontradas no cacau, embora com uma quantidade muito menor de cafeína.Ao contrário do chocolate feito do cacau, o cupulate ("chocolate" de cupuaçu) é livre de teobromina e cafeína.</p>
    </section>

    <section class="section-3">
        <h2>Ofertas Especiais</h2>
      
    </section>

    <footer>

        <nav>
            <p class="rodape">&copy; Aloísio Viana 2024 Todos os Direitos - Supreme Açaí</p>
            <p>Aproveite nossos descontos e promoções, acessando nosso Whatsapp (61) 9999-9989 !</p>

        </nav>

    </footer>
</body>

</html>