-
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supreme Açaí</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/cupuacu.css">
</head>

<body>

    <nav>
        <div class="nav-nave">
            <div>
                <img class="logo" src="../img-acai/Supreme.png" alt="">

            </div>

            <div>
                <a href="../index.html">Inicio</a>
                <a href="acai.html">Catálogo Açaí</a>
                <a href="cupuacu.html">Catálogo de Cupuaçu</a>
                <a href="sobremim.html">Sobre Mim</a>
            </div>

    </nav>
    </nav>
    <header>
        <h1>Sobre Mim</h1>
    </header>

    <main class="sobremim">
        <section>
            <h1>Meu nome é Aloísio, Casado, 2 Filhos e 01 Neto. </h1>
        </section>
        
        <div class="sobremim">           
         <h2>Atuo na área comercial a mais de 20 anos e no monento trabalho na Midea Carrier como Executivo de Vendas.</h2><br>
            <img src="img-acai/OIP.jpg" alt="">
    </div>
         <p>Gestão de TI, realizando alguns cursos de especilização na área e sempre buscando aprimorar meus conhecimentos e atualmente estudando no Senai, no curso de Progração de Front-End, além de já ter concluido o de Administrado de Bando de Dados e Aperfeicoamento em SQL Server, tamblem pelo Senai.</p><br>
    </div>
            
    <div>
         <h>Gestão de TI, realizando alguns cursos de especilização na área e sempre buscando aprimorar meus conhecimentos e atualmente estudando no Senai, no curso de Progração de Front-End, além de já ter concluido o de Administrado de Bando de Dados e Aperfeicoamento em SQL Server, tamblem pelo Senai.</h><br>
    </div>
    <div>
        <h2>Interesse na transição de carreira e atuar plenamente e exclusivamente em progração e área correlatas.</h2><br>
    </div>
</main>

    <footer>
    <nav>
            <p class="rodape">&copy; AVS 2024 Todos os Direitos - Supreme Açaí</p>
    </nav>

    </footer>
</body>

</html>